.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.item {
  position: absolute;
  top: 0;
  left: 39%;
  opacity: 0;
  transition: all 0.5s ease;
  color: white;
}

.active {
  opacity: 1;
  transform: translateX(0%);
}

.left {
  opacity: 0.65;
  transform: translateX(-130%);
}

.right {
  opacity: 0.65;
  transform: translateX(130%);
}
